<% include ../includes/header.ejs %>

    <!-- FINAL NAV -->
    <div>
        <div class ="container min-container">
            <h2 class="basic-title">Home</h2>
        </div>
    </div>
<% include ../includes/footer.ejs %>